* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62, 5%;
}

body {
  background: rgb(31,68,77);
  background: radial-gradient(circle, rgba(31,68,77,1) 41%, rgba(0,0,0,1) 100%);
}

#container {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  margin-top: 18rem;
}

.headerfirst {
  margin-top: 15rem;
  margin-bottom: 5rem;
  
}
.headerfirst h1 {
  font-size: 2.8rem;
}

.headerfirst p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}


.mylogo img {
  width: 100%;
  height: 20rem;
}


.nav-list {
  display: flex;
  justify-content: space-between;
  gap:2rem;
  

  list-style: none;
  text-decoration: none;
  color: #161616be;

  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

.nav-list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

.nav-list li {
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  font-family: "Satisfy", cursive;
  font-size: 1.3rem;
}

.nav-list a:hover {
  cursor: pointer;
  color: rgb(50, 158, 119);
  transition: 0.3s;
}

.imagelogomobile img {
  width: 18rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden; 
  border: 0.4rem solid #00000093;
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-bottom: 8rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: rgb(255, 255, 255);
  margin-top: 2rem;
}

.social-links a:hover {
  background-color: gray;
  border-radius: 4rem;
  transition: 1s;
}

main {
  margin-top: 10rem;
  padding: 1.2rem 1rem;
}

main h1 {
  color: rgb(82, 78, 78);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}



#about-me {
  border-radius: 2rem;
  margin-top: 8rem;
  margin: auto;

  margin-bottom: 5rem;
  height: 100%;
  text-align: center;
  padding: 2rem 2rem;
}

#about-me h2 {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Satisfy", cursive;
}

#about-me p {
  margin-top: 1.5rem;
  color: #38373b;
  margin: 0.5rem;

  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;

  color: rgb(216, 216, 216);
  font-family: "Satisfy", cursive;
  margin-bottom: 1.5rem;
}

.imagelogodesktop img {
  width: 18rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden; 
  border: 0.4rem solid #00000093;
  margin-bottom: 3rem;
}

.description {
  text-align: justify;
  line-height: 1.6;
  
}

.whatsapp {
  padding: 1rem 2rem;
  margin-top: 0.2rem;
  background-color: rgb(70, 70, 70);
  border-radius: 10rem;
  
}

.whatsapp-button a  {
  width: 100rem;
  height: 100rem;
}
button a  {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(222, 219, 219);
  font-weight: 900;
  font-family: "Satisfy", cursive;;
}

.whatsapp:hover {
  background-color: cadetblue;
  transition: 0.5s;
  cursor: pointer;
}

.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  color: rgb(255, 255, 255);
  font-size:1.8rem;
  justify-content: space-between;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

.titletechs h4 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-family: "Satisfy", cursive;
  font-weight:100;
  
  text-align: right;
}

.techbox1 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}
.techbox2 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}
.techbox3 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}
.techbox4 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}
.techbox5 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}
.techbox6 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;

  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.5rem;
  border-radius: 1rem;
}

.titulo-projetos h1 {
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 100;
  
}

#projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5rem;

  padding: 4rem;
  margin: auto;
  margin-bottom: 3rem;
  font-family: "Satisfy", cursive;
}

/* BOX PROJETO 1 */
.box-project1 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project1 h4 {
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project1 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content1 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project1:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/* BOX PROJETO 2 */
.box-project2 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project2 h4 {
  text-align: center;
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project2 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content2 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project2:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/*BOX PROJETO 3 */
.box-project3 {
  /* border: 1px solid red; */
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project3 h4 {
  text-align: center;
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project3 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-project3 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project3:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/*BOX PROJETO 4*/
.box-project4 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project4 h4 {
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project4 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content4 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project4:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

.imagelogomobile {
  display: none;
}

@media (min-width: 1440px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30rem;
  }

  #about-me {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    padding: 12rem 12rem;
  }

  .imagelogomobile {
    display: block;
  }
  
 .techboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr 1fr 1fr);
  gap: 3rem;
  padding: 6.4rem 11.1rem 8rem;
  margin-right: 15rem;
 }

 .techs {
  margin-left: 25rem;
 }


 .titletechs {
  margin-right: 25rem;
  font-size: 1.6rem;
 }

 .techbox1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 .techbox2 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 .techbox3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 .techbox4 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 .techbox5 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 .techbox6 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }


 /*INICIO DO GRID NAS BOXES PROJECT*/
 .titulo-projetos {
  margin-right: 55rem;
  font-size: 1.6rem;
  
 }

 #projetos {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
  gap: 7rem;
  margin: 7rem;
  
  

 }
}

