* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62, 5%;
}

body {
  background-image: url(./assets/back5css.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

#container {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 8vh;

  background-color: #40373728;
  backdrop-filter: blur(8px);

  box-shadow: 0px 0px 3px rgb(83, 79, 78);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 2.9rem;

  list-style: none;
  text-decoration: none;
  color: #161616be;

  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

.nav-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
  font-weight: 600;
}

.nav-list li {
  letter-spacing: 0.1rem;
  margin-left: 5px;
  font-family: "Satisfy", cursive;
  font-size: 1.3rem;
}

.nav-list a:hover {
  cursor: pointer;
  color: rgb(4, 19, 59);
  transition: 0.5s;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;

  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
}

.logo:hover {
  color: black;
  transition: 0.5s;
}
.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  background: rgba(0, 0, 0, 0.528);
  width: 32px;
  height: 2px;
  margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 35vw;
    height: 92vh;

    background: #40373728;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 3px rgb(83, 79, 78);

    transition: transform 0.3s ease-in;
    transform: translateX(100%);
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.activer .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.activer .line1 {
  opacity: 0;
}
.mobile-menu.activer .line1 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.imagelogo img {
  display: block;
  width: 11.2rem;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid rgb(80, 73, 73);
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-bottom: 8rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: rgb(21, 20, 20);
  margin-top: 2rem;
}

.social-links a:hover {
  background-color: gray;
  border-radius: 4rem;
  transition: 1s;
}

main {
  margin-top: 10rem;
  padding: 1.2rem 1rem;
}

main h1 {
  color: rgb(49, 47, 47);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.mainfirst {
  margin-top: 6.9rem;
}

.about-me {
  background-color: #a59f9f80;
  border-radius: 2rem;

  margin-top: 8rem;
  border: 1px solid rgb(82, 73, 73);
  margin: 1.9rem;
  margin-bottom: 20rem;
  height: 23rem;
}

.about-me h2 {
  margin: 1rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);

  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Satisfy", cursive;
}

.about-me p {
  margin-top: 1.5rem;
  color: #38373b;
  margin: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;

  font-family: "Satisfy", cursive;
}

.titulo-projetos h1 {
  margin-top: 1rem;
  margin-bottom: 20rem;
}

.projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5rem;

  margin: auto;
  margin-top: 12rem;
  font-family: "Satisfy", cursive;
}


/* PROJETO NUMERO 1 */
.box-project1 {
  
  padding: 1rem 3.2rem;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #8d8c90d0;
}

.box-project1 h4 {
  margin: 1rem;
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.3rem;
}

.box-project1 p {
  text-align: center;
  margin-top: 1rem;
}

.box-content1 img{
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* PROJETO NUMERO 2 */
.box-project2 {
  /* border: 1px solid red; */
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #8d8c90d0;
}

.box-project2 h4 {
  margin: 1rem;
  color: rgb(22, 22, 70);
  font-weight: 200;
  font-size: 1.3rem;
}

.box-project2 p {
  text-align: center;
  margin-top: 15rem;
}


/* PROJETO NUMERO 3 */
.box-project3 {
  /* border: 1px solid red; */
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #8d8c90d0;
}

.box-project3 h4 {
  margin: 1rem;
  color: rgb(22, 22, 70);
  font-weight: 200;
  font-size: 1.3rem;
}

.box-project3 p {
  text-align: center;
  margin-top: 15rem;
}