* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62, 5%;
}

body {
  background-image: url(./assets/back5css.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

#container {
  height: 100%;
  width: 100%;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 8vh;

  background-color: #d2963593;
  backdrop-filter: blur(8px);

  box-shadow: 0px 0px 3px rgb(83, 79, 78);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 2.9rem;

  list-style: none;
  text-decoration: none;
  color: #161616be;

  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

.nav-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
  font-weight: 100;
}

.nav-list li {
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  font-family: "Satisfy", cursive;
  font-size: 1.3rem;
}

.nav-list a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.logo {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.528);
}

.logo:hover {
  color: black;
  transition: 0.5s;
}
.imagelogo img {
  display: block;
  width: 11.2rem;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 0.4rem solid #d2963593;
}

.social-links {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-bottom: 8rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: rgb(21, 20, 20);
  margin-top: 2rem;
}

.social-links a:hover {
  background-color: gray;
  border-radius: 4rem;
  transition: 1s;
}

main {
  margin-top: 10rem;
  padding: 1.2rem 1rem;
}

main h1 {
  color: rgb(82, 78, 78);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.mainfirst {
  margin-top: 6.9rem;
  background-color: ;
}

.about-me {
  background-color: #a59f9f80;
  border-radius: 2rem;
  width:25rem;

  margin-top: 8rem;
  border: 1px solid #d2963593;
  margin: auto;

  margin-bottom: 5rem;
  height: 100%;
  text-align: center;
}

.about-me h2 {
  margin: 1rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);

  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Satisfy", cursive;
}

.about-me p {
  margin-top: 1.5rem;
  color: #38373b;
  margin: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;

  font-family: "Satisfy", cursive;
}



.titulo-projetos h1 {
  margin-bottom: 1rem;
  color: #d29635;
  font-weight: 100;
}

.projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5rem;

  padding: 4rem;
  margin: auto;
  margin-bottom: 3rem;
  font-family: "Satisfy", cursive;
}

/* BOX PROJETO 1 */
.box-project1 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project1 h4 {
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project1 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content1 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project1:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/* BOX PROJETO 2 */
.box-project2 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project2 h4 {
  text-align: center;
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project2 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content2 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project2:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/*BOX PROJETO 3 */
.box-project3 {
  /* border: 1px solid red; */
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project3 h4 {
  text-align: center;
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
}

.box-project3 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-project3 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project3:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}

/*BOX PROJETO 4*/
.box-project4 {
  padding: 1rem 3.2rem;
  width: 25rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: #a59f9f80;
}

.box-project4 h4 {
  color: rgb(13, 13, 15);
  font-weight: 200;
  font-size: 1.4rem;
  text-align: center;
}

.box-project4 p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.box-content4 img {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
}

.box-project4:hover {
  transform: scaleY(0.9);
  transition: 0.8s;
  background-color: #adadad;
}